<div class='jumbotron'>
  <div class="container">
    <h1>standUP</h1>
    <p>A tool for holding and distributing micro-meetings using the standup format </p>
    <button class='btn btn-priamry'>Learn more</button>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Slack intergration</h2>
      <p>After the meeting has finished, a static image of the results are slacked out to the team</p>
      <button class='btn btn-primary'>Find out more</button>
    </div>
    <div class="col-md-4">
      <h2>Real-Time Collaboration</h2>
      <p>Web sockets allow for a synced view across several platforms</p>
      <button class='btn btn-primary'>Technologies</button>
    </div>
    <div class="col-md-4 ">
      <h2>Easy to setup</h2>
      <p> Follow the simple sign-up process to register your orgainizaiton</p>
      <button class='btn btn-primary'>Get started</button>
    </div>

  </div>
</div>



<div class='container'>
  <div class='row'>

    <h1>{{working}}</h1>

  </div>
</div>