<br>
  <div class="alert alert-danger" role="alert" ng-show='failedAuth'>
    <p>You must be logged in to view that page</p>
  </div>


<div class='jumbotron'>
  <div class="container">
    <img src="/images/logo.png">
    <p>standUP is a tool for managing and distributing stand-up style micromeetings through Slack.</p>
    <button class='btn btn-primary'>Sign in with Slack to get started</button>

  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-4  ">
      <img src="/images/slackLogo.png" class='frontimg'>
      <h2 class='orange'>Slack Integration</h2>
      <p>After you log in with slack, you and your team can create individual sessions for different channels.</p>
     <a href='/login/'>
	 <button class='btn btn-primary'>Sign in with Slack</button></a>
    </div>
    <div class="col-md-4 well">
      <img src="/images/messaging.png" class='frontimg'>
      <h2 class='orange'>Real-Time Collaboration</h2>
      <p>Web sockets allow for a synced view across several platforms so remote participants can stay in the loop.</p>
      <a href="/demo">
        <button class='btn btn-primary'>Try it out a demo</button>
      </a>
    </div>
    <div class="col-md-4">
      <img src="/images/analysis.png" class='frontimg'>
      <h2 class='orange'>View Analytics on Past standUPs</h2>
      <p> Over time, you can track analytics on your previous standUPs</p>
      <a href="/login">
        <button class='btn btn-primary'>Get started</button>
      </a>
    </div>

  </div>
</div>



<div class='container'>
  <div class='row'>

    <h1>{{working}}</h1>

  </div>
</div>
