<div class="container">
  <div class="page-header">
    <h1>Join a standUp with {{team}}</h1>
  </div>
  <div class='row'>
    <h2>Active standUPs</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>created By</th>
          <th>channel name</th>
          <th>created at</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='standup in activeStandups'>
            <td><a href="/standUP/{{standup.id}}">{{standup.createdBy}}</a></td>
            <td>{{standup.channel_name}}</td>
            <td>{{standup.created_at | date}}</td>
        </tr>

      </tbody>

    </table>

  </div>
  <div class='row'>
    <h2>Inactive standUPs</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>created By</th>
          <th>channel name</th>
          <th>created</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='standup in inactiveStandups'>
            <td><a href="/standUP/{{standup.id}}">{{standup.createdBy}}</a></td>
            <td>{{standup.channel_name}}</td>
            <td>{{standup.created_at | date}}</td>
        </tr>

      </tbody>

    </table>

  </div>

</div>