<div class="container">

  <div class="page-header">
    <h1>{{orgName}}</h1>
  </div>


  <div class="row">
    <h2>Active StandUPs</h2>
    <div ng-show='noActive'>
      <p class='text-danger'> It doesnt look like you have any active standUPs, would you like to <a href="/create">start a new one</a></p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            standUP id
          </th>
          <th>
            Organization Name
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='standup in activeStandUPs'>
          <td>{{standup.id}}</td>
          <td>{{orgName}}</td>
          <td>
            <a href="/standUP/{{standup.id}}">{{standup.created_at}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2>inActive StandUPs</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            standUP id
          </th>
          <th>
            Organization Name
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='standup in inActiveStandUPs'>
          <td>{{standup.id}}</td>
          <td>{{orgName}}</td>
          <td>
            <a href="/standUP/{{standup.id}}">{{standup.created_at}}</a></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>