<div class="container">
  <div class="page-header col-sm-9">
    <h1>{{team}} <small>{{channel}} </small></h1>
  </div>

  <div class='col-sm-3' ng-show='recording'>
    <img src="/images/mic_recording.png" id='mic'>
  </div>

  <div class='col-sm-3' ng-hide='recording'>
    <img src="/images/mic.png" id='mic' ng-click='record()' ng-hide='ended'>
  </div>

  <div class='col-md-4'>
    <h1 class='text-center'>helps</h1>
    <input type='text' ng-model='newHelp' class="form-control socketInput" ng-hide='ended'>
    <button ng-click="addHelp()" class='btn btn-primary socketBtn' ng-hide='ended'>add</button>

    <ul>
      <li ng-repeat='help in helps track by $index'> <h4>{{help}}</h4></li>
    </ul>

  </div>  
  <div class='col-md-4'>
    <h1 class='text-center'>interestings</h1>
    <input type='text' ng-model='newInteresting' class="form-control socketInput" ng-hide='ended'>
    <button ng-click="addInteresting()" class='btn btn-primary socketBtn' ng-hide='ended'>add</button>

    <ul>
      <li ng-repeat='interesting in interestings track by $index'> <h4>{{interesting}}</h4></li>
    </ul>

  </div>  
  <div class='col-md-4'>
    <h1 class='text-center'>events</h1>
    <input type='text' ng-model='newEvent' class="form-control socketInput" ng-hide='ended'>
    <button ng-click="addEvent()" class='btn btn-primary socketBtn' ng-hide='ended'>add</button>

    <ul>  
      <li ng-repeat='event in events track by $index'><h4>{{event}}</h4></li>
    </ul>
  </div>
  <div class='row'>
    <div class='col-sm-12' id='endbtn'>
      <div class='btn btn-primary' ng-click='endStandup()' ng-hide='ended'>End standUP</div>
    </div>
  </div>
</div>
