<div class="container">
  <div class="page-header col-sm-9">
    <h1>standUP <small> {{orgName}}</small></h1>
  </div>

  <div ng-click='record()' class='col-sm-3'>
      <img src="/images/mic.png" id='mic'>
  </div>

  <div class='col-md-4'>
    <h1 class='text-center'>helps</h1>
    <input type='text' ng-model='newHelp' class="form-control socketInput">
    <button ng-click="addHelp()" class='btn btn-primary socketBtn'>add</button>

    <ul>
      <li ng-repeat='help in helps'>{{help}}</li>
    </ul>

  </div>  
  <div class='col-md-4'>
    <h1 class='text-center'>interestings</h1>
    <input type='text' ng-model='newInteresting' class="form-control socketInput">
    <button ng-click="addInteresting()" class='btn btn-primary socketBtn'>add</button>

    <ul>
      <li ng-repeat='interesting in interestings'> <h4>{{interesting}}</h4></li>
    </ul>

  </div>  
  <div class='col-md-4'>
    <h1 class='text-center'>events</h1>
    <input type='text' ng-model='newEvent' class="form-control socketInput">
    <button ng-click="addEvent()" class='btn btn-primary socketBtn'>add</button>

    <ul>  
      <li ng-repeat='event in events'><h3>{{event}}</h3></li>
    </ul>
  </div>


</div>