<div class="contatiner">
  <div class="page-header">
    <h1>Welcome {{name}}  </h1>
  </div>

  <div class='text-center'>
    <div class='col-sm-4 col-sm-offset-4 well'>
      <h1>Lets get started</h1>

      <div class='img_small '>
        <img src='/images/logo_small.png' class="img-circle img-responsive">
      </div>

      <div class="buttons">
        <a href="/create">
          <div class="btn btn-primary">
            Create a standUP
          </div>
        </a>
        <a href="/join">
          <div class='btn btn-primary'>
            join a standUP
          </div>
        </a>
      </div>

    </div>

  </div>
</div> 

