body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.socketInput{
  display: inline;
  width: 70%
}

.socketBtn{
  display: inline-block; 
}

#mic{
  width: 3%;
}