body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.socketInput{
  display: inline;
  width: 70%
}

.socketBtn{
  display: inline-block; 
}

#mic{
  padding-top: 40px;
  width: 20%;
  float: right;
}

#endbtn{
  margin-top: 10px;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.item {

  border-bottom: 1px solid black;
  margin: 5px;
  width: 90%;
  padding: 10px;
  word-wrap: break-word;
}




.img_small{
  margin: 0 auto;
  width: 80%;
}

.buttons{
  margin-top: 30px
}

.orange{
  color: #ca7300;
}

.frontimg{
max-width:100%;
max-height:100%;

}